@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.nav-item{
    /* border: 1px solid; */
    width: 100%;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.nav-item-icon{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 15px;
    margin: 0;
}
.active{
    background-color:#f1f1f1 ;
}
.nav-item-icon img{
    /* width: 100px; */
}
.nav-item h3{
    margin: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 500;
}
